@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

::-webkit-input-placeholder { /* WebKit browsers */
    padding: 5px 0 0 5px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    padding: 5px 0 0 5px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    padding: 5px 0 0 5px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    padding: 5px 0 0 5px;
}

.lazy-load-image-background.lazy-load-image-loaded {
  width:100% !important;
  height:100% !important;
  top:unset!important;
  left:unset!important;
}
.lazy-load-image-background {
width:50px;
  height:50px;
  position: absolute;
top: 50%;
left: 50%;

}
.player2 {
  font-family: 'Press Start 2P', cursive;
}
.lazy-load-image-loaded {
display:block!important;
position:initial;
}
.bootline {
  animation: trimTrail 2s;
  height:25px;
  text-align:left;
  background-color:white;
  display:block;
  position:relative;
  animation-timing-function: steps(3, end);

}
.bootlineholder {
  width:100%;
  border:1px solid #ffffff;
}

/*aniscroll*/
.aniScrollContainer {
position:absolute;
top:-50px;
left:10px;
height:auto;
width:100px;

}
.aniScrollContainer img{
  position:absolute;
}

/*main*/
.code-yellow {
  color:#c37a0e !important;

}
.code-green {
  color:#409844 !important;
}
ul.welcome li:before {
  content:'>';
  color:#9c5dd6!important;
  padding-right:15px;

}
.welcome li {
  display:block;
  position:relative;
  overflow:hidden;

  white-space:nowrap;
  left:0;
  opacity:0%;

  animation: fadeBackground .25s ease 1s forwards,
   typing 5s steps(100, end);

}


#bootmenu .bootload {
  display:block;
  position:relative;
  overflow:hidden;

  white-space:nowrap;
  left:0;
  opacity:0%;

  animation: fadeBackground .25s ease 1s forwards,
   typing 5s steps(100, end);
}


#lightbox span {
display:block;
position:relative;

}



.welcome li:nth-child(1) {animation-delay:0s !important;}
.welcome li:nth-child(2) {animation-delay:5s !important;}
.welcome li:nth-child(3) {animation-delay:10s !important;}
.welcome li:nth-child(4) {animation-delay:20s !important;}
.welcome li:nth-child(5) {animation-delay:30s !important;}

#main {
  align-items:flex-start;
align-content:flex-start;

}
/* .container {
  max-width:unset;
  max-height:unset;
  height:inherit;
} */
#console {
   align-self:stretch;

}

#work {
   align-self:stretch;



}

#about {
   align-self:stretch;



}
#dialup {
  align-self:stretch;

}

/* NAVIGATION */

.navLinks {
  z-index: 90;
  position:absolute;
/* top:75px; */



}

.navLinks img {
  max-width: 75px;
      right: 0px;
      left: 5px;
      height: auto;
}
 .navItem canvas {
  margin:0 auto;
  max-width: 75px;
  max-height:75px;
      right: 0px;
      left: 5px;
      height: auto;
}


.dock {
      background-color:#f7f7f736;
      border-top-right-radius:5px;
      border-bottom-right-radius:5px;
    padding:0px;
    width:100px;

    left:-10px;
}

.bottom-border {
border-bottom:1px solid #ccc;

}

.placeholder {
  min-height: 100vh;
}

.about ul li{
  border-bottom:1px solid #cccccc;
  padding:5px;
}
li::marker {
  color:#cccccc;
}

/* TAB AND PROJECT INFO */
.folder_tab {
  position: absolute;
  display: block;
  z-index: 9;
  top: -40px;
  left: -0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 25px;
  min-width: 100px;
  max-width: 250px;
  border-bottom: 0px !important;
}

.absolute.text-left.px-5.py-10 {
  bottom: -74px;
  right: 0px;
  color:#368a67;
}

/* PROJECT CONTAINERS */
.projectContainer a {
  position: relative;
}
.project-title {
  margin-top:-25px;
  padding-top:53px;
  padding-bottom:33px;
height:max-content;
z-index:0;
}
.imagerow {

  z-index:2;
}


.stacked:focus-within {
  /* border: 2px solid red; */
  z-index:888 !important;
  box-shadow:5px 5px 5px  #00000050;
}
/* PROJECT IMAGE GROUP */
.projectContainer:first-of-type {
  margin-top:35px !important;
}

.gradient {
  background-image: linear-gradient(to top, #d2a86f, #cc945e, #c68151, #bf6c46, #b7573e, #ba4d48, #ba4453, #b73c60, #b7477f, #b0569d, #a067b8, #8778ce);

}

.imagesPre {
  top:0px;
  z-index:9;
  position:relative;
  background-color:#f7f7f7;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
  height:auto;
  font-size:10px !important;
  letter-spacing:2px;
  color:black;
  padding:11px;
  margin:0px;
}
img.image {
  display: block;
  width: 100%;
  height: inherit;
  min-height: 200px;
  margin: 0 auto;
  vertical-align: middle;
  background-clip: content-box;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  background-color: #fff;
  display: none;
}



/* POP UP IMAGES */
#lightbox {
  display: block;
  position: absolute;
  top:50%;
  left:50%;
   transform: translate(-50%, -50%);

  z-index: 7777;
  animation: fadeBackground 1s;
  animation-fill-mode: forwards;
}


.fadeIn {
  animation: fadeOut 1s;
  animation-fill-mode: backwards;
}

.fadeOut {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
#lightbox.fadeOut {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

#lightbox-img {
  display:flex;
  position:relative;
  flex-direction:column;
  height:100%;
  width:auto;
  margin: 0 auto;


  /* position: absolute;
  width:fit-content !important;
  height:fit-content !important;
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}


/* TAILWIND ADDITIONS */


.red-hat {
  font-family: 'Red Hat Mono', monospace;
}
.glimmer {
  animation: glimmer 2s infinite;
}


.h-200px {
  height: 200px;
  position: relative;
  overflow: hidden;
  max-width: 200px;
}
.white-bg {
  background-color:white;
}
.green-bg {
  background-color:#57c98d;
}
.green-border {
  border-color:#368a67;

}
.text-green {
  color:#57c98d;
}
.text-darkgreen {
  color:#368a67;
}

.floating {
  transform: translatey(0px);
 animation: float2 5s ease-in-out infinite;
}
/* ANIMATIONS */
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}

@keyframes typing {
  from { width: 0 }
  to {width: 100%;}
}

@keyframes glimmer {
  0% {
    opacity:0%;
  }
  1% {
    opacity:100%;
  }
  50% {
    opacity:100%;
  }
  89% {
    opacity:100%;
  }
  90% {
    opacity:0%;
  }
  100% {
    opacity:0%;
  }
}
@keyframes trimTrail {
  0% {
    width:0;
  }
  10% {
    width:12%;
  }
  12% {
    width:12%;
  }
  15% {
    width:25%;
  }
  20% {
    width:25%;
  }
  30% {
    width: 25%;
  }
  40% {
    width:65%;
  }
  60% {
    width:85%;
  }
  90% {
    width:85%;
  }
  100% {
    width:100%;
  }
}
@keyframes fadeBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

/* FOOTER */
.marquee {
  height: 25px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border-top: 1px solid #ccc;
  position: fixed;
  overflow-x: hidden;
  bottom: 0px;
  width: 100%;
  z-index: 99;
  background-color: #ffffff;
}

.marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 25px;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left 2s linear infinite;
  -webkit-animation: scroll-left 2s linear infinite;
  animation: scroll-left 20s linear infinite;

  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 3px;
  font-weight: bold;
}


.list-layer-1 li::before {
  content: "-";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: red; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.list-layer-2 li::before {
  content: "└";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #808285; /* Change the color */
  font-weight: bold;
  width: 2em; /* Also needed for space (tweak if needed) */


}

@media (max-width: 768px) {
.navLinks {
  top:unset !important;
}

}

@media (max-width: 1300px) {
  #lightbox-img {
    height:unset !important;
  }

}
